*{
	box-sizing: border-box;
	transition: 0.2s;
}

body{
	background: #ffffff;
	color: #343434;
	font-family: Montserrat,Roboto,sans-serif;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	line-height: 1.6;
	font-size: 15.5px;
}

/* Installation File Styles
   The Installation Files have body with class 'installset'. */

.installset header{
	background: #2c97de;
	color: #ffffff;
	height: auto;
	position: relative;
	padding: 20px;
}

.installset main{
	min-height: 100vh;
	padding: 30px;
	background: #2c97de;
	overflow: auto;
}

#installform{       /* Installation Form */
	background: #ffffff;
	color: #343434;
	margin: 0px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.3), 0 0 0 1px rgba(0,0,0,.04);
	border-radius: 4px;
	margin-top: 5px;
	padding: 30px;
	display: inline-block;
}

#installform input,textarea{
	transition: 0.1s;
}

#installform input{
	padding: 10px;
	font-size: 15px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	width: 100%;
	outline: none;
}

#installform textarea:focus{
	border-left: 3px solid #506578;
}

#installform input:focus{
	border-left: 3px solid #506578;	
}

#installform textarea{
	outline: none;
	font-family: sans-serif;
	width: 100%;
	line-height: 1.6;
	height: 200px;
	padding: 15px;
	font-size: 15px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
}

/* Buttons */

.submitbutton{
	display: inline-block;
	padding: 15px;
	background: #506578;
	color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.3), 0 0 0 1px rgba(0,0,0,.04);
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 3px;
}

.backbutton{
	border-radius: 50%;
	border: none;
	cursor: pointer;
	padding: 20px;
	background: #506578;
	color: #ffffff;
	margin: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.backbutton:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.removebutton{
	background: #6200ee;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: sans-serif;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
	color: #ffffff;
	outline: none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: none;
	padding: 12px;
}

.removebutton:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#examplebox{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

/* MAIN CONTENT */

.mainbody main{
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
}

/* POLL */

#poll{
	padding: 20px;
}

#polltitle{
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	text-align: left;
}

#polldesc{
	width: 100%;
	padding: 0px;
	text-align: center;
	color: gray;
}

#polloptions{
	padding: 10px;
	width: 50%;
	text-align: left;
}

.optionlister{
	padding: 15px;
	text-align: left;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
	width: 100%;
}

.activevote{
	background: #2c97de;
	color: #ffffff;
	box-shadow: none;
	border-radius: 3px;
}

#errors{
	padding: 10px;
	text-align: center;
}

/* HEADER */


/* FOOTER */

footer{
	background: #212529;
	padding: 30px;
	height: auto;
	color: #868e96;
}

footer .header{
	color: #ffffff;
	font-size: 20px;
}