#installform {
	width: 100%;
}

.installset main{
	padding: 15px;
}

/* POLL */

#polloptions{
	padding: 10px;
	width: 100%;
}

/* Polls at index.php */

.pollbody{
	width: 100%;
}

.polldetails .left{
	width: 45%;
	text-align: center;
}

.polldetails .right{
	width: 45%;
	text-align: center;
}

/* HEADER */

#header .left{
	width: 30%;
}

#header .right{
	width: 70%;
}